div{
    width: 300px;
    height: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: khaki;
    color: lavender;
}
img{
    width: 100px;
}
@media screen and (max-width:500px){
    div{
        width: 100%;
    }
}